/* myReset:Start*/
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
button,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

main,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  color: #000;
  height: 100%;
  line-height: 1;
  font: normal 100% Cambria, Georgia, serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin: 0 0 20px; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.5em; }

h3 {
  font-size: 1.17em; }

h4 {
  font-size: 1.12em; }

h5 {
  font-size: .83em; }

h6 {
  font-size: .75em; }

a,
a:hover,
a:focus {
  outline: none;
  color: #000; }

sup {
  vertical-align: super; }

sub {
  vertical-align: sub; }

.decoration-none,
.decoration-none a {
  text-decoration: none; }

p {
  padding: 0;
  margin-bottom: 20px; }

img {
  border-style: none;
  outline: none;
  max-width: 100%; }

input {
  -webkit-appearance: none; }

input,
textarea,
button,
.slick-slide {
  outline: none; }

button {
  cursor: pointer; }

strong {
  font-weight: bold; }

label {
  cursor: pointer; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none; }

.alignright {
  float: right; }

.alignleft {
  float: left; }

.text-center {
  text-align: center; }

.list-style-none,
.list-style-none ul {
  list-style: none; }

/* END:myReset */
.home-section__portfolio-btn, .main-single-portfolio__offerbtn, .main-contact-form__submitbtn, .site-aside__backbtn, .site-navlist, .pricelist-items__list li, .pricelist-items__list li .pricelist-items__link--backface:before, .main-portfolio__list li, .main-portfolio__list li:after, .main-contact-form__choiselabel {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in; }

.myContainer:after, .two-columns-layout .wrapper:after, .site-aside__nav:after, .site-aside__btnwrap:after, .pricelist-items__list:after, .pricelist-prompt:after, .main-portfolio__list-descriptionblock:after, .main-single-portfolio__maincontent:after, .main-single-portfolio__heading:after, .main-contact-form__choicelist:after, .main-contact-form__favsites-list:after {
  display: block;
  content: '';
  clear: both; }

@font-face {
  font-family: 'Comfortaa-Regular';
  src: url("../fonts/Comfortaa/Comfortaa-Regular/Comfortaa-Regular.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Comfortaa/Comfortaa-Regular/Comfortaa-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Comfortaa/Comfortaa-Regular/Comfortaa-Regular.woff") format("woff"), url("../fonts/Comfortaa/Comfortaa-Regular/Comfortaa-Regular.ttf") format("truetype"), url("../fonts/Comfortaa/Comfortaa-Regular/Comfortaa-Regular.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'Comfortaa-Light';
  src: url("../fonts/Comfortaa/Comfortaa-Light/Comfortaa-Light.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Comfortaa/Comfortaa-Light/Comfortaa-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Comfortaa/Comfortaa-Light/Comfortaa-Light.woff") format("woff"), url("../fonts/Comfortaa/Comfortaa-Light/Comfortaa-Light.ttf") format("truetype"), url("../fonts/Comfortaa/Comfortaa-Light/Comfortaa-Light.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'Comfortaa-Bold';
  src: url("../fonts/Comfortaa/Comfortaa-Bold/Comfortaa-Bold.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Comfortaa/Comfortaa-Bold/Comfortaa-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Comfortaa/Comfortaa-Bold/Comfortaa-Bold.woff") format("woff"), url("../fonts/Comfortaa/Comfortaa-Bold/Comfortaa-Bold.ttf") format("truetype"), url("../fonts/Comfortaa/Comfortaa-Bold/Comfortaa-Bold.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'Calibri-Regular';
  src: url("../fonts/Calibri/Calibri-Regular/Calibri-Regular.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Calibri/Calibri-Regular/Calibri-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Calibri/Calibri-Regular/Calibri-Regular.woff") format("woff"), url("../fonts/Calibri/Calibri-Regular/Calibri-Regular.ttf") format("truetype"), url("../fonts/Calibri/Calibri-Regular/Calibri-Regular.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'Calibri-Bold';
  src: url("../fonts/Calibri/Calibri-Bold/Calibri-Bold.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Calibri/Calibri-Bold/Calibri-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Calibri/Calibri-Bold/Calibri-Bold.woff") format("woff"), url("../fonts/Calibri/Calibri-Bold/Calibri-Bold.ttf") format("truetype"), url("../fonts/Calibri/Calibri-Bold/Calibri-Bold.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

/*base*/
body {
  font-family: 'Comfortaa-Regular', sans-serif;
  color: #595959;
  background-image: url(../img/main/site-bg.png);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed; }

.myContainer {
  position: relative;
  max-width: 842px;
  margin: 0 auto; }

.section--centered {
  display: table;
  width: 100%;
  height: -webkit-calc(100vh - 45px);
  height: -moz-calc(100vh - 45px);
  height: calc(100vh - 45px); }
  .section--centered .section__inner {
    display: table-cell;
    vertical-align: middle; }

.two-columns-layout .main {
  width: 40%;
  position: fixed;
  right: 0;
  top: 100px;
  padding-right: 15%; }

.two-columns-layout .site-header {
  width: 40%;
  left: auto;
  right: 0; }

.two-columns-layout .layout-leftcol {
  float: left;
  width: 50%; }

.main-pricelist__pagetitle, .main-portfolio__pagetitle, .main-contacts__pagetitle {
  font-size: 24px;
  letter-spacing: 0.0005em;
  font-weight: 400;
  margin-bottom: 5px;
  color: #6840cc; }

.main-pricelist__pagedescription, .main-portfolio__pagedescription, .main-contacts__pagedescription {
  font-family: 'Comfortaa-Light';
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.0025em;
  color: #808080; }

.home-section__portfolio-btn, .main-single-portfolio__offerbtn, .main-contact-form__submitbtn {
  font-family: 'Calibri-Bold';
  font-size: 14px;
  font-weight: 400;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  padding: 12px 30px;
  border: 2px solid #7850a6;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  color: #7850a6;
  background: none; }
  .home-section__portfolio-btn:hover, .main-single-portfolio__offerbtn:hover, .main-contact-form__submitbtn:hover {
    color: #fff;
    background-color: #7850a6; }

.main {
  padding-top: 45px; }

.site-header {
  position: fixed;
  top: 45px;
  left: 50px; }
  .site-header__homeurl {
    display: block;
    float: left;
    text-decoration: none;
    margin-bottom: 45px;
    color: #737373; }
  .site-header__imgblock, .site-header__titleblock {
    display: inline-block;
    vertical-align: middle;
    margin-right: 6px; }
  .site-header__titleitem {
    display: block; }
  .site-header__sitesubtitle {
    font-family: 'Comfortaa-Light';
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.005em;
    color: #737373; }
  .site-header__contacts {
    display: none;
    clear: both; }
  .site-header__contacts-title {
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.0025em;
    padding-bottom: 16px;
    color: #6840cc;
    background-image: url(../img/contacts/contact-title-bg.png);
    background-position: left bottom;
    background-repeat: no-repeat; }
  .site-header__contacts-list {
    font-family: 'Calibri-Regular'; }
    .site-header__contacts-list li {
      list-style: none;
      margin-bottom: 3px; }
      .site-header__contacts-list li:last-child {
        margin-bottom: 0; }
  .site-header__contacts-imgblock {
    display: inline-block;
    width: 24px;
    vertical-align: middle;
    margin-right: 10px; }
  .site-header__contacts-elementtitle {
    display: inline-block;
    font-size: 16px;
    line-height: 16px;
    text-decoration: none;
    letter-spacing: 0.001em;
    color: #404040; }
    .site-header__contacts-elementtitle .index {
      color: #666; }

.site-aside {
  position: fixed;
  right: 42px;
  top: 50%;
  z-index: 101;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }
  .site-aside__btnwrap {
    display: none; }
  .site-aside__backbtn {
    display: block;
    float: right;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    text-decoration: none;
    letter-spacing: 0.0035em;
    text-transform: uppercase;
    color: #8c8c8c;
    margin-bottom: 73px;
    padding-right: 35px;
    padding-bottom: 10px;
    background-image: url(../img/vector/navlist/single-portfolio-back-btn.svg);
    background-repeat: no-repeat;
    background-position: 100% 0; }
    .site-aside__backbtn:hover {
      color: #956cfb; }
  .site-aside__mobile-nav {
    float: right;
    margin-bottom: 35px;
    display: none;
    background: none; }
  .site-aside__mobile-navtext {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.005em;
    margin-right: 5px;
    color: #8250ff; }
  .site-aside__mobile-btnimg {
    display: inline-block;
    vertical-align: middle;
    width: 21px;
    height: 19px;
    background: none;
    background-image: url(../img/vector/navlist/mobile-btn.svg);
    background-repeat: no-repeat; }

.site-navlist {
  clear: both; }
  .site-navlist li {
    list-style: none;
    margin-bottom: 55px; }
    .site-navlist li.home .site-navlist__linktext {
      visibility: hidden;
      text-indent: -9999px; }
    .site-navlist li a {
      display: block;
      min-width: 30px;
      min-height: 30px;
      text-decoration: none;
      background-position: 100% 50%;
      background-image: url(../img/vector/navlist/default-bg.svg);
      background-repeat: no-repeat; }
  .site-navlist li:hover.home a, .site-navlist li.current-page.home a {
    background-image: url(../img/vector/navlist/home-active.svg); }
  .site-navlist li:hover .site-navlist__linktext, .site-navlist li.current-page .site-navlist__linktext {
    display: inline-block;
    visibility: visible;
    color: #956cfb; }
  .site-navlist li.faded.home a {
    background-image: url(../img/vector/navlist/home.svg); }
  .site-navlist li.faded .site-navlist__linktext {
    display: none;
    color: #4d4d4d; }
  .site-navlist li:hover.portfolio a, .site-navlist li.current-page.portfolio a {
    background-image: url(../img/vector/navlist/portfolio-active.svg); }
  .site-navlist li:hover .site-navlist__linktext, .site-navlist li.current-page .site-navlist__linktext {
    display: inline-block;
    visibility: visible;
    color: #956cfb; }
  .site-navlist li.faded.portfolio a {
    background-image: url(../img/vector/navlist/portfolio.svg); }
  .site-navlist li.faded .site-navlist__linktext {
    display: none;
    color: #4d4d4d; }
  .site-navlist li:hover.pricelist a, .site-navlist li.current-page.pricelist a {
    background-image: url(../img/vector/navlist/pricelist-active.svg); }
  .site-navlist li:hover .site-navlist__linktext, .site-navlist li.current-page .site-navlist__linktext {
    display: inline-block;
    visibility: visible;
    color: #956cfb; }
  .site-navlist li.faded.pricelist a {
    background-image: url(../img/vector/navlist/pricelist.svg); }
  .site-navlist li.faded .site-navlist__linktext {
    display: none;
    color: #4d4d4d; }
  .site-navlist li:hover.contacts a, .site-navlist li.current-page.contacts a {
    background-image: url(../img/vector/navlist/contacts-active.svg); }
  .site-navlist li:hover .site-navlist__linktext, .site-navlist li.current-page .site-navlist__linktext {
    display: inline-block;
    visibility: visible;
    color: #956cfb; }
  .site-navlist li.faded.contacts a {
    background-image: url(../img/vector/navlist/contacts.svg); }
  .site-navlist li.faded .site-navlist__linktext {
    display: none;
    color: #4d4d4d; }
  .site-navlist__linktext {
    visibility: hidden;
    padding-right: 40px;
    vertical-align: middle; }

/*END:base*/
/*home*/
.home-section__pretitle {
  font-family: 'Comfortaa-Light';
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0.0025em;
  color: #474747;
  margin-bottom: 3px; }

.home-section__maintitle {
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 0.0028em;
  color: #613cbf;
  font-family: 'Comfortaa-Bold';
  margin-bottom: 30px; }

.home-section__description {
  font-family: 'Comfortaa-Light';
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.0035em;
  color: #737373;
  margin-bottom: 30px; }

/*END:home*/
/*inner-pricelist*/
.pricelist-items__blocktitle {
  display: none;
  font-size: 28px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.0025em;
  margin-bottom: 75px;
  color: #613cbf; }

.pricelist-items__list {
  position: relative;
  display: table;
  width: 100%;
  margin-bottom: 145px; }
  .pricelist-items__list:before, .pricelist-items__list:after {
    position: absolute;
    content: '';
    display: none;
    right: -27px;
    width: 41px;
    height: 42px;
    background-repeat: no-repeat;
    background-position: 0 center; }
  .pricelist-items__list:before {
    top: 0;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    background-image: url(../img/pricelist/pricelist_firstcrosstop.png); }
  .pricelist-items__list:after {
    bottom: -31px;
    background-image: url(../img/pricelist/pricelist_firstcrossbottom.png);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg); }
  .pricelist-items__list li {
    position: relative;
    display: table;
    float: left;
    list-style: none;
    height: 250px;
    width: 25%;
    text-align: center; }
    .pricelist-items__list li:before, .pricelist-items__list li:after {
      position: absolute;
      content: '';
      display: none;
      width: 41px;
      height: 42px;
      left: -12px;
      background-repeat: no-repeat;
      background-image: url(../img/pricelist/pricelist-cross.png);
      z-index: 1; }
    .pricelist-items__list li:before {
      top: 0; }
    .pricelist-items__list li:after {
      bottom: -30px; }
    .pricelist-items__list li:nth-child(1):before {
      background-image: url(../img/pricelist/pricelist_firstcrosstop.png); }
    .pricelist-items__list li:nth-child(1):after {
      background-image: url(../img/pricelist/pricelist_firstcrossbottom.png);
      bottom: -48px; }
    .pricelist-items__list li:hover .pricelist-items__link--frontface {
      display: none; }
    .pricelist-items__list li:hover .pricelist-items__link--backface {
      display: table; }
    .pricelist-items__list li .pricelist-items__link--backface {
      background-repeat: no-repeat;
      -webkit-background-size: 100% 100%;
      -moz-background-size: 100% 100%;
      -o-background-size: 100% 100%;
      background-size: 100% 100%; }
    .pricelist-items__list li .pricelist-items__link--backface:before {
      position: absolute;
      top: 0;
      content: '';
      display: block;
      z-index: -1;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-repeat: no-repeat; }
    .pricelist-items__list li:nth-child(1) .pricelist-items__link--backface:before {
      width: 276px;
      height: 304px;
      top: -60px;
      left: -26px;
      background-image: url(../img/pricelist/pricelist-bg1.png); }
    .pricelist-items__list li:nth-child(2) .pricelist-items__link--backface:before {
      width: 234px;
      height: 235px;
      top: -30px;
      left: -4px;
      background-image: url(../img/pricelist/pricelist-bg2.png); }
    .pricelist-items__list li:nth-child(3) .pricelist-items__link--backface:before {
      width: 304px;
      height: 277px;
      top: -60px;
      left: -44px;
      background-image: url(../img/pricelist/pricelist-bg3.png); }
    .pricelist-items__list li:nth-child(4) .pricelist-items__link--backface:before {
      width: 235px;
      height: 234px;
      top: -21px;
      left: -4px;
      background-image: url(../img/pricelist/pricelist-bg4.png); }

.pricelist-items__iteminner {
  display: table-cell;
  vertical-align: middle; }

.pricelist-items__link {
  display: block;
  text-decoration: none; }
  .pricelist-items__link--backface {
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    text-decoration: none; }

.pricelist-items__description--backface {
  display: table-cell;
  vertical-align: middle; }

.pricelist-items__imgblock {
  margin-bottom: 0; }

.pricelist-items__title {
  font-family: 'Calibri-Regular';
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  color: #666;
  margin-bottom: 16px; }
  .pricelist-items__title--backface {
    font-family: 'Calibri-Regular';
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.0025em;
    color: #fff;
    margin-bottom: 18px;
    opacity: 0.5; }

.pricelist-items__price {
  font-family: 'Calibri-Bold';
  text-transform: uppercase;
  color: #6840cc;
  font-size: 16px;
  letter-spacing: 0.0025em;
  text-align: center; }
  .pricelist-items__price--backface {
    font-family: 'Calibri-Bold';
    margin-bottom: 15px;
    color: #ffffff;
    font-weight: bold; }

.pricelist-items__priceblock {
  display: table;
  width: 100%;
  font-size: 0; }

.pricelist-items__priceitem {
  display: inline-block;
  width: 45%;
  padding: 7px 5px;
  font-size: 17px;
  border: 2px solid #7850a6; }
  .pricelist-items__priceitem--full {
    color: #fff;
    background-color: #7850A6; }

.pricelist-items__currency {
  font-size: 12px; }

.pricelist-items__offerbtn--backface {
  font-family: 'Calibri-Bold';
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.0025em;
  text-transform: uppercase;
  padding: 9px 15px;
  border: 2px solid #DADADA;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  width: 60%; }
  .pricelist-items__offerbtn--backface:hover {
    color: #fff; }

.pricelist-prompt {
  text-align: center; }
  .pricelist-prompt__itemsblock {
    display: table;
    width: 100%;
    font-size: 0px; }
  .pricelist-prompt__item {
    padding: 10px 27px;
    border: 2px solid #7850a6;
    width: 20%;
    display: inline-block;
    font-size: 17px;
    text-transform: uppercase;
    color: #7850a6;
    font-family: 'Calibri-Bold'; }
    .pricelist-prompt__item--full {
      background-color: #7850A6;
      color: #ffffff; }

/*END:inner-pricelist*/
/*inner-portfolio*/
.main-portfolio__heading {
  margin-bottom: 55px; }

.main-portfolio__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -25px; }
  .main-portfolio__list li {
    position: relative;
    list-style: none;
    width: 220px;
    overflow: hidden;
    background-color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 0 25px 45px;
    padding: 18px 20px; }
    .main-portfolio__list li.faded {
      opacity: 0.2; }
    .main-portfolio__list li:after {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      width: 100%;
      height: 100%;
      opacity: 0.7;
      z-index: 1;
      pointer-events: none;
      background-image: url(../img/portfolio/portfolio-overlay.png);
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover; }
    .main-portfolio__list li:hover:after {
      display: block; }
    .main-portfolio__list li:hover {
      -webkit-transform: scale(1.1) translateY(-25px);
      -moz-transform: scale(1.1) translateY(-25px);
      -ms-transform: scale(1.1) translateY(-25px);
      -o-transform: scale(1.1) translateY(-25px);
      transform: scale(1.1) translateY(-25px); }
      .main-portfolio__list li:hover .main-portfolio__list-description .main-portfolio__list-title {
        color: #ffffff; }
      .main-portfolio__list li:hover .main-portfolio__list-sitelink {
        color: #fff; }

.main-portfolio__linkwrap {
  display: block;
  text-decoration: none; }

.main-portfolio__link {
  display: block;
  text-decoration: none; }

.main-portfolio__list-imgblock {
  display: table;
  width: 100%;
  text-align: center;
  margin-bottom: 12px;
  height: 155px; }

.main-portfolio__imgwrap {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  z-index: 1; }

.main-portfolio__list-imglink {
  position: relative;
  display: block; }

.main-portfolio__list-img {
  display: inline-block;
  height: auto;
  max-width: 100%;
  vertical-align: middle; }

.main-portfolio__list-title {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.0025em;
  margin-bottom: 0;
  color: #6840cc; }

.main-portfolio__list-imglink {
  display: block; }

.main-portfolio__list-sitelink {
  line-height: 20px;
  letter-spacing: 0.0025em;
  text-decoration: none;
  color: #a6a6a6;
  font-size: 12px;
  word-break: break-word; }
  .main-portfolio__list-sitelink:hover {
    text-decoration: underline; }

.main-portfolio__list-description {
  position: relative;
  z-index: 3;
  display: inline-block;
  vertical-align: middle;
  width: 82%; }

.main-portfolio__moreblock {
  display: none;
  vertical-align: middle;
  width: 15%;
  text-align: right;
  position: relative;
  z-index: 3; }

.main-portfolio__morebtn {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 26px;
  height: 26px;
  z-index: 1;
  background-image: url(../img/vector/portfolio-more-btn.svg);
  background-repeat: no-repeat;
  -webkit-background-size: 100% 99%;
  -moz-background-size: 100% 99%;
  -o-background-size: 100% 99%;
  background-size: 100% 99%; }

.main-portfolio__list li:hover .main-portfolio__list-description a {
  color: #ffffff; }

.main-portfolio__list li:hover .main-portfolio__moreblock {
  display: inline-block; }

/*END:inner-portfolio*/
/*inner-single-portfolio*/
.main-single-portfolio__heading {
  margin-bottom: 35px; }

.main-single-portfolio__titleblock {
  float: left;
  width: 57%; }

.main-single-portfolio__maintitle {
  font-family: 'Comfortaa-Bold';
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.0025em;
  color: #595959;
  margin-bottom: 8px; }

.main-single-portfolio__mainlink {
  display: block;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.005em;
  text-decoration: underline;
  color: #8256b3; }

.main-single-portfolio__iconblock {
  float: left;
  width: 40%; }

.main-single-portfolio__iconimg {
  display: inline-block;
  vertical-align: middle; }

.main-single-portfolio__description {
  font-family: 'Calibri-Regular';
  line-height: 20px;
  letter-spacing: 0.0035em;
  margin-bottom: 35px;
  color: #737373; }
  .main-single-portfolio__description strong {
    color: #595959; }

.main-single-portfolio__numbers {
  font-family: 'Calibri-Regular';
  font-size: 19px;
  margin-bottom: 55px; }

.main-single-portfolio__numbertitle {
  display: inline-block;
  font-size: 19px;
  line-height: 20px;
  letter-spacing: 0.0025em;
  font-weight: 400;
  color: #595959;
  margin-bottom: 10px; }

.main-single-portfolio__hour {
  color: #737373; }

.main-single-portfolio__money {
  color: #8256b3; }

.main-single-portfolio__offerbtn {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.0025em; }

.body-single-portfolio .site-aside__btnwrap {
  display: block; }

/*END:inner-single-portfolio*/
/*inner-contacts*/
.body-contacts .site-header__contacts {
  display: block; }

.main-contacts {
  padding-bottom: 25px; }

.main-contact-form input.ng-invalid {
  color: #da6e6e;
  outline: 1px solid #da6e6e; }

.main-contact-form input.ng-not-empty.ng-valid {
  color: #956cfb; }

.main-contact-form__mainform {
  font-family: 'Calibri-Regular'; }

.main-contact-form__maintitle {
  font-family: 'Comfortaa-Regular';
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.0025em;
  padding-bottom: 16px;
  color: #6840cc;
  background-image: url(../img/contacts/contact-title-bg.png);
  background-position: left bottom;
  background-repeat: no-repeat;
  font-size: 18px; }

.main-contact-form__choicelist {
  text-align: center;
  margin: 0 -8px 35px; }
  .main-contact-form__choicelist li {
    float: left;
    padding: 0 8px;
    list-style: none;
    width: 25%; }

.main-contact-form__choiselabel {
  display: block;
  padding: 10px 22px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .main-contact-form__choiselabel.active {
    background-image: url(../img/contacts/contacts-choice-bg.png); }
  .main-contact-form__choiselabel:hover {
    background-image: url(../img/contacts/contacts-choice-bg.png); }

.main-contact-form__choisetitle {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.0025em;
  text-transform: uppercase;
  margin-bottom: 8px;
  color: #666; }

.main-contact-form__from {
  font-family: 'Calibri-Bold';
  font-size: 10px;
  letter-spacing: 0.0025em;
  text-transform: uppercase;
  opacity: 0.4;
  color: #956cfb; }

.main-contact-form__price {
  font-family: 'Calibri-Regular';
  font-size: 16px;
  color: #956cfb; }

.main-contact-form__choisecheckbox {
  display: none; }

.main-contact-form__main-elementtitle {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  padding-left: 10px;
  color: #595959; }

.main-contact-form__main-elementblock {
  margin-bottom: 35px; }

.main-contact-form__main-formelement {
  display: block;
  width: 100%;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.001em;
  color: #999;
  border: none;
  padding-left: 10px;
  padding-bottom: 7px;
  background: none;
  border-bottom: 1px solid #BDBDBD; }

.main-contact-form__favsites {
  margin-bottom: 35px; }

.main-contact-form__favsites-list {
  margin: 0 -2%; }
  .main-contact-form__favsites-list li {
    float: left;
    width: 33.299999999999997%;
    padding: 0 2%;
    padding-bottom: 12px;
    list-style: none; }

.main-contact-form__favsitetitle {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.0025em;
  text-transform: uppercase;
  color: #595959;
  padding-left: 10px; }

.main-contact-form__favsites-formelement {
  border: none;
  background: none;
  border-bottom: 1px solid #BAB6BE;
  padding-bottom: 7px;
  color: #999999;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.0001em;
  padding-left: 10px;
  width: 100%; }

.main-contact-form__add-data {
  padding: 15px 20px;
  margin: 0 -1% 25px;
  background-image: url(../img/contacts/contact_addinfo-bg.png);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.main-contact-form__add-datatitle {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.0025em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #595959; }

.main-contact-form__addelement {
  display: inline-block;
  width: 31%;
  padding: 11px 3%;
  margin: 11px 1%;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.0001em;
  color: #999;
  text-align: center;
  background: none;
  border: none;
  background-color: rgba(250, 250, 250, 0.7); }
  .main-contact-form__addelement ::-webkit-input-placeholder {
    text-align: center; }
  .main-contact-form__addelement :-moz-placeholder {
    text-align: center; }
  .main-contact-form__addelement ::-moz-placeholder {
    text-align: center; }
  .main-contact-form__addelement :-ms-input-placeholder {
    text-align: center; }

.main-contact-form__submitblock {
  text-align: center; }

.main-contact-form__submitbtn {
  text-transform: uppercase; }

/*END:inner-contacts*/
/*RESPONSIVE*/
@media screen and (max-width: 1360px) {
  .main-contact-form__submitbtn,
  .main-single-portfolio__offerbtn {
    font-size: 18px; }
  /*base*/
  .main {
    padding-top: 0; }
  .site-header {
    position: static;
    padding-top: 35px; }
  .myContainer {
    max-width: 86%; }
  .main-contacts__heading {
    display: none; }
  .site-header__contacts-title {
    font-size: 26px; }
  /*END:base*/
  /*inner-single-portfolio*/
  .main-single-portfolio__description strong {
    font-weight: 400; }
  /*END:inner-single-portfolio*/
  /*inner-contacts*/
  .body-contacts .site-header__contacts {
    margin-bottom: 65px; }
  .main-contact-form__mainform {
    width: 80%; }
  .main-contact-form__choicelist {
    margin: 0 0 25px; }
  .main-contact-form__choicelist li {
    width: 36%;
    padding: 0; }
  .site-header__contacts-list li {
    margin-bottom: 10px; }
  .site-header__contacts-elementtitle {
    font-size: 24px; }
  .main-contact-form__main-elementtitle {
    font-size: 17px; }
  .main-contact-form__main-formelement {
    font-size: 17px; }
  .main-contact-form__favsites-list li {
    width: 50%; }
  /*END:inner-contacts*/ }

@media screen and (max-width: 1250px) {
  .main-single-portfolio__titleblock {
    float: none;
    width: 100%;
    margin-bottom: 25px; }
  .main-single-portfolio__iconblock {
    float: none;
    width: 100%; } }

@media screen and (max-width: 920px) {
  /*base*/
  .site-navlist li a {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.005em; }
  .body-single-portfolio .site-aside__btnwrap {
    display: none; }
  /*END:base*/
  /*home*/
  .home-section__portfolio-btn {
    font-size: 22px; }
  /*END:home*/
  .main-home .home-section {
    text-align: center; }
  .home-section__pretitle {
    font-size: 26px; }
  .home-section__maintitle {
    font-size: 32px; }
  .home-section__description {
    font-size: 18px;
    margin-bottom: 100px; }
  .site-aside {
    top: 48px;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none; }
  .site-aside__mobile-nav {
    display: block; }
  .site-navlist {
    text-align: right;
    padding: 40px;
    background-color: white;
    border: 2px solid #8250ff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: inset -2px 2px 9px 0px #b496ff;
    -moz-box-shadow: inset -2px 2px 9px 0px #b496ff;
    box-shadow: inset -2px 2px 9px 0px #b496ff;
    -webkit-transform: translateX(200%);
    -moz-transform: translateX(200%);
    -ms-transform: translateX(200%);
    -o-transform: translateX(200%);
    transform: translateX(200%); }
    .site-navlist--active {
      -webkit-transform: translateX(0%);
      -moz-transform: translateX(0%);
      -ms-transform: translateX(0%);
      -o-transform: translateX(0%);
      transform: translateX(0%); }
  .site-navlist li {
    margin-bottom: 28px; }
  .site-navlist li a {
    display: inline-block; }
  .site-aside .site-aside__nav .site-navlist .site-navlist__linktext {
    text-indent: inherit;
    visibility: visible;
    color: #737373; }
  .site-aside .site-navlist li.faded .site-navlist__linktext {
    display: inline-block; }
  .site-aside .site-navlist li:hover.home a,
  .site-aside .site-navlist li.current-page.home a,
  .site-aside .site-navlist li.home a {
    background-image: url(../img/vector/navlist/home.svg); }
  .site-aside .site-navlist li:hover.portfolio a,
  .site-aside .site-navlist li.current-page.portfolio a,
  .site-aside .site-navlist li.portfolio a {
    background-image: url(../img/vector/navlist/portfolio.svg); }
  .site-aside .site-navlist li:hover.pricelist a,
  .site-aside .site-navlist li.current-page.pricelist a,
  .site-aside .site-navlist li.pricelist a {
    background-image: url(../img/vector/navlist/pricelist.svg); }
  .site-aside .site-navlist li:hover.contacts a,
  .site-aside .site-navlist li.current-page.contacts a,
  .site-aside .site-navlist li.contacts a {
    background-image: url(../img/vector/navlist/contacts.svg); }
  .main-pricelist__pagetitle,
  .main-portfolio__pagetitle,
  .main-contacts__pagetitle {
    font-size: 28px;
    letter-spacing: 0.0025em; }
  .main-pricelist__pagedescription,
  .main-portfolio__pagedescription,
  .main-contacts__pagedescription {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.0035em; }
  .main-portfolio__list {
    margin: 0 -10px; }
  .main-portfolio__list li {
    margin: 0 10px 45px;
    padding: 22px;
    width: 33%; }
  /*single-portfolio*/
  .two-columns-layout .site-header {
    left: 50px;
    right: auto;
    width: auto; }
  .two-columns-layout .main {
    position: static;
    padding-left: 0;
    padding-right: 0;
    width: auto; }
  .main-single-portfolio__maincontent {
    margin-bottom: 42px; }
  .main-single-portfolio__description {
    padding-right: 28%; }
  .main-single-portfolio__maintitle {
    font-size: 24px; }
  .main-single-portfolio__mainlink {
    font-size: 16px; }
  .main-single-portfolio__offerblock {
    text-align: center; }
  .two-columns-layout .layout-leftcol {
    float: none;
    width: auto; }
  .single-portfolio-leftcol__img {
    display: block;
    width: 100%; }
  .main-single-portfolio__description {
    font-size: 17px;
    margin-bottom: 48px; }
  .main-single-portfolio__hours {
    font-size: 22px; }
  /*END:single-portfolio*/
  /*pricelist*/
  .main-pricelist__heading {
    margin-bottom: 65px; }
  .pricelist-items__blocktitle {
    display: block; }
  .pricelist-items__list {
    text-align: center;
    margin-bottom: 60px; }
  .pricelist-items__list li {
    float: none;
    margin: 0 auto 25px;
    width: 250px; }
  .pricelist-items__list:before,
  .pricelist-items__list:after {
    display: none; }
  .pricelist-items__list li:before,
  .pricelist-items__list li:after {
    display: none; }
  .pricelist-items__iteminner {
    position: relative; }
  .pricelist-items__list li:first-child .pricelist-items__iteminner:before,
  .pricelist-items__list li:last-child .pricelist-items__iteminner:after {
    position: absolute;
    content: '';
    left: 0;
    display: none;
    width: 242px;
    height: 42px;
    z-index: 1;
    background-repeat: no-repeat; }
  .pricelist-items__list li:first-child .pricelist-items__iteminner:before {
    top: 0;
    background-image: url(../img/pricelist/pricelist_mobilecrosstop.png); }
  .pricelist-items__list li:last-child .pricelist-items__iteminner:after {
    bottom: 0;
    background-image: url(../img/pricelist/pricelist_mobilecrossbottombottom.png); }
  .pricelist-items__list li:before {
    position: absolute;
    content: '';
    left: 0;
    display: none;
    width: 242px;
    height: 42px;
    z-index: 1;
    background-repeat: no-repeat;
    background-image: url(../img/pricelist/pricelist_mobilecrossbottom.png); }
  .pricelist-prompt__item {
    display: block;
    margin: 0 auto;
    width: 50%; }
  .pricelist-items__list li:nth-child(1) .pricelist-items__link--backface:before {
    top: -57px;
    left: 0; }
  .pricelist-items__list li:nth-child(2) .pricelist-items__link--backface:before {
    top: -25px;
    left: 0; }
  .pricelist-items__list li:nth-child(3) .pricelist-items__link--backface:before {
    top: -43px;
    left: -30px; }
  .pricelist-items__list li:nth-child(4) .pricelist-items__link--backface:before {
    top: -25px;
    left: 0; }
  /*END:pricelist*/
  /*contacts*/
  .main-contact-form__maintitle {
    font-size: 26px; }
  .site-header__contacts-imgblock {
    margin-right: 18px; }
  .main-contact-form__main-elementtitle {
    margin-bottom: 5px; }
  .main-contact-form__main-formelement {
    padding-bottom: 5px; }
  .main-contact-form__favsites-formelement {
    font-size: 17px; }
  /*END:contacts*/ }

@media screen and (max-width: 660px) {
  /*base*/
  .site-aside__mobile-navtext {
    font-size: 17px; }
  .site-aside {
    right: 22px;
    position: absolute;
    overflow: hidden; }
  .site-navlist li {
    margin-bottom: 14px; }
  .site-navlist li a {
    min-width: 25px;
    min-height: 25px; }
  .site-navlist {
    padding: 35px 15px; }
  /*END:base*/
  /*home*/
  .home-section__pretitle {
    font-size: 22px; }
  .home-section__maintitle {
    font-size: 26px;
    margin-bottom: 17px; }
  .home-section__description {
    font-size: 16px; }
  .home-section__portfolio-btn {
    font-size: 18px; }
  .home-section__description {
    margin-bottom: 60px; }
  /*END:home*/
  /*inner-portfolio*/
  .main-portfolio__list {
    margin: 0; }
  .main-portfolio__list li {
    float: none;
    width: 100%;
    margin: 0;
    margin-bottom: 25px; }
  .main-portfolio__list-imgblock {
    height: auto; }
  .main-portfolio__list-title {
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 0.0025em; }
  .main-portfolio__list-sitelink {
    font-size: 24px;
    line-height: 40px;
    letter-spacing: 0.0025em; }
  /*END:inner-portfolio*/
  /*contacts*/
  .main-contact-form__favsites-list li {
    width: 50%;
    margin-bottom: 25px; }
  .main-contact-form__add-data {
    margin: 0;
    margin-bottom: 55px; }
  .main-contact-form__addelement {
    display: block;
    width: 100%;
    margin: 0 0 15px; }
  /*END:contacts*/ }

@media screen and (max-width: 500px) {
  /*inner-single-portfolio*/
  .main-single-portfolio__titleblock {
    width: auto; }
  .main-single-portfolio__iconblock {
    float: right; }
  .main-single-portfolio__description {
    padding-right: 0;
    margin-bottom: 30px; }
  .main-single-portfolio__numbertitle {
    margin-bottom: 2px; }
  .main-single-portfolio__hours {
    font-size: 26px; }
  .main-single-portfolio__offerblock {
    margin-bottom: 64px; }
  /*END:inner-single-portfolio*/
  /*inner-contacts*/
  .main-contact-form__mainform {
    width: 100%; }
  .main-contact-form__choicelist li {
    width: 46%; }
  /*END:inner-contacts*/ }

@media screen and (max-width: 470px) {
  /*inner-contacts*/
  .site-header__contacts-elementtitle {
    font-size: 20px; }
  .main-contact-form__choicelist li {
    float: none;
    width: 100%; }
  .main-contact-form__maintitle {
    font-size: 20px;
    text-align: center; }
  .main-contact-form__main-elementtitle {
    font-size: 14px; }
  .main-contact-form__main-formelement {
    font-size: 14px; }
  .main-contact-form__favsites-list li {
    float: none;
    width: 100%; }
  .main-contact-form__favsites-formelement {
    width: 100%; }
  .main-contact-form__favsitetitle {
    font-size: 14px; }
  /*END:inner-contacts*/ }

@media screen and (max-width: 420px) {
  .main-pricelist__pagetitle,
  .main-portfolio__pagetitle,
  .main-contacts__pagetitle {
    font-size: 21px; }
  .main-pricelist__pagedescription,
  .main-portfolio__pagedescription,
  .main-contacts__pagedescription {
    font-size: 15px; }
  .main-portfolio__list-title {
    font-size: 18px; }
  .main-portfolio__list-sitelink {
    font-size: 18px; }
  .pricelist-items__blocktitle {
    font-size: 20px; }
  .pricelist-prompt__item {
    width: 90%; } }

@media screen and (max-width: 390px) {
  /*home*/
  .home-section__pretitle {
    font-size: 16px; }
  .home-section__maintitle {
    font-size: 22px; }
  .home-section__description {
    font-size: 14px; }
  .home-section__portfolio-btn {
    font-size: 14px; }
  /*END:home*/
  /*inner-single-portfolio*/
  .main-single-portfolio__titleblock {
    float: none;
    margin-bottom: 20px; }
  .main-single-portfolio__iconblock {
    float: none;
    margin-bottom: 20px; }
  .main-single-portfolio__maintitle {
    font-size: 20px; }
  /*END:inner-single-portfolio*/ }

/*END:RESPONSIVE*/
