/*base*/

html {
    // height: 100%;
}

body {
    font-family: 'Comfortaa-Regular', sans-serif;
    color: #595959;
    background-image: url(../img/main/site-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.myContainer {
    position: relative;
    max-width: grid('container');
    margin: 0 auto;
    @extend %clearfix;
}

.section {
    &--centered {
        display: table;
        width: 100%;
        height: calc(100vh - 45px);
        .section__inner {
            display: table-cell;
            vertical-align: middle;
        }
    }
}

.two-columns-layout {
    .wrapper {
        @extend %clearfix;
    }
    .main {
        width: 40%;
        position: fixed;
        right: 0;
        top: 100px;
        padding-right: 15%;
    }
    .site-header {
        width: 40%;
        left: auto;
        right: 0;
    }
    .layout-leftcol {
        float: left;
        width: 50%;
    }
}

%default-pagetitle {
    font-size: 24px;
    letter-spacing: 0.0005em;
    font-weight: 400;
    margin-bottom: 5px;
    color: #6840cc;
}

%default-pagedescription {
    font-family: 'Comfortaa-Light';
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.0025em;
    color: #808080;
}

%default-btn {
    font-family: 'Calibri-Bold';
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    padding: 12px 30px;
    border: 2px solid #7850a6;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    color: #7850a6;
    background: none;
    @extend %default-transition;
    &:hover{
        color: #fff;
        background-color: #7850a6;
    }
}

.main {
    padding-top: grid('offsetTop');
}

.site-header {
    position: fixed;
    top: 45px;
    left: 50px;
    &__homeurl {
        display: block;
        float: left;
        text-decoration: none;
        margin-bottom: 45px;
        color: #737373;
    }
    &__imgblock {
        display: inline-block;
        vertical-align: middle;
        margin-right: 6px;
    }
    &__titleblock {
        @extend .site-header__imgblock;
    }
    &__titleitem {
        display: block;
    }
    &__sitesubtitle {
        font-family: 'Comfortaa-Light';
        font-size: 11px;
        line-height: 13px;
        letter-spacing: 0.005em;
        color: #737373;
    }
    &__contacts {
        display: none;
        clear: both;
    }
    &__contacts-title {
        font-size: 18px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.0025em;
        padding-bottom: 16px;
        color: #6840cc;
        background-image: url(../img/contacts/contact-title-bg.png);
        background-position: left bottom;
        background-repeat: no-repeat;
    }
    &__contacts-list {
        font-family: 'Calibri-Regular';
        li {
            list-style: none;
            margin-bottom: 3px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &__contacts-imgblock {
        display: inline-block;
        width: 24px;
        vertical-align: middle;
        margin-right: 10px;
        ;
    }
    &__contacts-elementtitle {
        display: inline-block;
        font-size: 16px;
        line-height: 16px;
        text-decoration: none;
        letter-spacing: 0.001em;
        color: #404040;
        .index {
            color: #666;
        }
    }
}

.site-aside {
    position: fixed;
    right: 42px;
    top: 50%;
    z-index: 101;
    transform: translateY(-50%);
    &__nav{
        @extend %clearfix;
    }
    &__btnwrap{
        display: none;
        @extend %clearfix;
    }
    &__backbtn {
        display: block;
        float: right;
        font-size: 12px;
        font-weight: bold;
        line-height: 20px;
        text-decoration: none;
        letter-spacing: 0.0035em;
        text-transform: uppercase;
        color: #8c8c8c;
        margin-bottom: 73px;
        padding-right: 35px;
        padding-bottom: 10px;
        background-image: url(../img/vector/navlist/single-portfolio-back-btn.svg);
        background-repeat: no-repeat;
        background-position: 100% 0;
        @extend %default-transition;
        &:hover{
            color: #956cfb;
        }
    }
    &__mobile-nav {
        float: right;
        margin-bottom: 35px;
        display: none;
        background: none;
    }
    &__mobile-navtext {
        display: inline-block;
        vertical-align: middle;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.005em;
        margin-right: 5px;
        color: #8250ff;
    }
    &__mobile-btnimg {
        display: inline-block;
        vertical-align: middle;
        width: 21px;
        height: 19px;
        background: none;
        background-image: url(../img/vector/navlist/mobile-btn.svg);
        background-repeat: no-repeat;
    }
}

.site-navlist {
    clear: both;
    @extend %default-transition;
    li {
        list-style: none;
        margin-bottom: 55px;
        &.home {
            .site-navlist__linktext {
                visibility: hidden;
                text-indent: -9999px;
            }
        }
        a {
            display: block;
            min-width: 30px;
            min-height: 30px;
            text-decoration: none;
            background-position: 100% 50%;
            background-image: url(../img/vector/navlist/default-bg.svg);
            background-repeat: no-repeat;
        }
    }
    @each $icon in $navIcons {
        li {
            &:hover,
            &.current-page {
                &.#{$icon} {
                    a {
                        background-image: url(../img/vector/navlist/#{$icon}-active.svg);
                    }
                }
                .site-navlist__linktext {
                    display: inline-block;
                    visibility: visible;
                    color: #956cfb;
                }
            }
            &.faded {
                &.#{$icon} {
                    a {
                        background-image: url(../img/vector/navlist/#{$icon}.svg);
                    }
                }
                .site-navlist__linktext {
                    display: none;
                    color: #4d4d4d;
                }
            }
        }
    }
    &__linktext {
        visibility: hidden;
        padding-right: 40px;
        vertical-align: middle;
    }
}


/*END:base*/
