@font-face {
    font-family: 'Comfortaa-Regular';
    src: url('../fonts/Comfortaa/Comfortaa-Regular/Comfortaa-Regular.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/Comfortaa/Comfortaa-Regular/Comfortaa-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Comfortaa/Comfortaa-Regular/Comfortaa-Regular.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/Comfortaa/Comfortaa-Regular/Comfortaa-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Comfortaa/Comfortaa-Regular/Comfortaa-Regular.svg#svgFontName') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'Comfortaa-Light';
    src: url('../fonts/Comfortaa/Comfortaa-Light/Comfortaa-Light.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/Comfortaa/Comfortaa-Light/Comfortaa-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Comfortaa/Comfortaa-Light/Comfortaa-Light.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/Comfortaa/Comfortaa-Light/Comfortaa-Light.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Comfortaa/Comfortaa-Light/Comfortaa-Light.svg#svgFontName') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'Comfortaa-Bold';
    src: url('../fonts/Comfortaa/Comfortaa-Bold/Comfortaa-Bold.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/Comfortaa/Comfortaa-Bold/Comfortaa-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Comfortaa/Comfortaa-Bold/Comfortaa-Bold.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/Comfortaa/Comfortaa-Bold/Comfortaa-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Comfortaa/Comfortaa-Bold/Comfortaa-Bold.svg#svgFontName') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'Calibri-Regular';
    src: url('../fonts/Calibri/Calibri-Regular/Calibri-Regular.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/Calibri/Calibri-Regular/Calibri-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Calibri/Calibri-Regular/Calibri-Regular.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/Calibri/Calibri-Regular/Calibri-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Calibri/Calibri-Regular/Calibri-Regular.svg#svgFontName') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'Calibri-Bold';
    src: url('../fonts/Calibri/Calibri-Bold/Calibri-Bold.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/Calibri/Calibri-Bold/Calibri-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Calibri/Calibri-Bold/Calibri-Bold.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/Calibri/Calibri-Bold/Calibri-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Calibri/Calibri-Bold/Calibri-Bold.svg#svgFontName') format('svg');
    /* Legacy iOS */
}


