/*home*/

.home-section {
    &__pretitle {
        font-family: 'Comfortaa-Light';
        font-size: 22px;
        font-weight: 400;
        letter-spacing: 0.0025em;
        color: #474747;
        margin-bottom: 3px;
    }
    &__maintitle {
        font-size: 28px;
        font-weight: 400;
        letter-spacing: 0.0028em;
        color: #613cbf;
        font-family: 'Comfortaa-Bold';
        margin-bottom: 30px;
    }
    &__description {
        font-family: 'Comfortaa-Light';
        font-size: 18px;
        line-height: 20px;
        letter-spacing: 0.0035em;
        color: #737373;
        margin-bottom: 30px;
    }
    &__portfolio-btn {
        @extend %default-btn;
    }
}

/*END:home*/
