/*inner-pricelist*/

.main-pricelist {
    &__pagetitle {
        @extend %default-pagetitle;
    }
    &__pagedescription {
        @extend %default-pagedescription;
    }
}

.pricelist-items {
    &__blocktitle {
        display: none;
        font-size: 28px;
        font-weight: 400;
        text-align: center;
        letter-spacing: 0.0025em;
        margin-bottom: 75px;
        color: #613cbf;
    }
    &__list {
        position: relative;
        display: table;
        width: 100%;
        margin-bottom: 145px;
        @extend %clearfix;
        &:before,
        &:after {
            position: absolute;
            content: '';
            display: none;
            right: -27px;
            width: 41px;
            height: 42px;
            background-repeat: no-repeat;
            background-position: 0 center;
        }
        &:before {
            top: 0;
            transform: rotate(90deg);
            background-image: url(../img/pricelist/pricelist_firstcrosstop.png);
        }
        &:after {
            bottom: -31px;
            background-image: url(../img/pricelist/pricelist_firstcrossbottom.png);
            transform: rotate(-90deg);
        }
        li {
            position: relative;
            display: table;
            float: left;
            list-style: none;
            height: 250px;
            width: 25%;
            text-align: center;
            @extend %default-transition;
            &:before,
            &:after {
                position: absolute;
                content: '';
                display: none;
                width: 41px;
                height: 42px;
                left: -12px;
                background-repeat: no-repeat;
                background-image: url(../img/pricelist/pricelist-cross.png);
                z-index: 1;
            }
            &:before {
                top: 0;
            }
            &:after {
                bottom: -30px;
            }
            &:nth-child(1):before {
                background-image: url(../img/pricelist/pricelist_firstcrosstop.png);
            }
            &:nth-child(1):after {
                background-image: url(../img/pricelist/pricelist_firstcrossbottom.png);
                bottom: -48px;
            }
            &:hover .pricelist-items__link--frontface {
                display: none;
            }
            &:hover .pricelist-items__link--backface {
                display: table;
            }
            .pricelist-items__link--backface {
                background-repeat: no-repeat;
                background-size: 100% 100%;
            }
            .pricelist-items__link--backface:before {
                position: absolute;
                top: 0;
                content: '';
                display: block;
                z-index: -1;
                background-size: cover;
                background-repeat: no-repeat;
                @extend %default-transition;
            }
            &:nth-child(1) {
                .pricelist-items__link--backface:before {
                    width: 276px;
                    height: 304px;
                    top: -60px;
                    left: -26px;
                    background-image: url(../img/pricelist/pricelist-bg1.png);
                }
            }
            &:nth-child(2) {
                .pricelist-items__link--backface:before {
                    width: 234px;
                    height: 235px;
                    top: -30px;
                    left: -4px;
                    background-image: url(../img/pricelist/pricelist-bg2.png);
                }
            }
            &:nth-child(3) {
                .pricelist-items__link--backface:before {
                    width: 304px;
                    height: 277px;
                    top: -60px;
                    left: -44px;
                    background-image: url(../img/pricelist/pricelist-bg3.png);
                }
            }
            &:nth-child(4) {
                .pricelist-items__link--backface:before {
                    width: 235px;
                    height: 234px;
                    top: -21px;
                    left: -4px;
                    background-image: url(../img/pricelist/pricelist-bg4.png);
                }
            }
        }
    }
    &__iteminner {
        display: table-cell;
        vertical-align: middle;
    }
    &__link {
        display: block;
        text-decoration: none;
        &--backface {
            display: none;
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;
            text-decoration: none;
        }
    }
    &__description {
        &--backface {
            display: table-cell;
            vertical-align: middle;
        }
    }
    &__imgblock {
        margin-bottom: 0;
    }
    &__title {
        font-family: 'Calibri-Regular';
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 0.025em;
        text-transform: uppercase;
        color: #666;
        margin-bottom: 16px;
        &--backface {
            font-family: 'Calibri-Regular';
            font-size: 14px;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 0.0025em;
            color: #fff;
            margin-bottom: 18px;
            opacity: 0.5;
            ;
        }
    }
    &__price {
        font-family: 'Calibri-Bold';
        text-transform: uppercase;
        color: #6840cc;
        font-size: 16px;
        letter-spacing: 0.0025em;
        text-align: center;
        &--backface {
            font-family: 'Calibri-Bold';
            margin-bottom: 15px;
            color: #ffffff;
            font-weight: bold;
        }
    }
    &__priceblock {
        display: table;
        width: 100%;
        font-size: 0;
    }
    &__priceitem {
        display: inline-block;
        width: 45%;
        padding: 7px 5px;
        font-size: 17px;
        border: 2px solid #7850a6;
        &--full {
            color: #fff;
            background-color: #7850A6;
        }
    }
    &__currency {
        font-size: 12px;
    }
    &__offerbtn {
        &--backface {
            font-family: 'Calibri-Bold';
            font-size: 13px;
            line-height: 20px;
            letter-spacing: 0.0025em;
            text-transform: uppercase;
            padding: 9px 15px;
            border: 2px solid #DADADA;
            color: #ffffff;
            text-decoration: none;
            display: inline-block;
            width: 60%;
            &:hover {
                color: #fff;
            }
        }
    }
}

.pricelist-prompt {
    text-align: center;
    @extend %clearfix;
    &__itemsblock {
        display: table;
        width: 100%;
        font-size: 0px;
    }
    &__item {
        padding: 10px 27px;
        border: 2px solid #7850a6;
        width: 20%;
        display: inline-block;
        font-size: 17px;
        text-transform: uppercase;
        color: #7850a6;
        font-family: 'Calibri-Bold';
        &--full {
            background-color: #7850A6;
            color: #ffffff;
        }
    }
}


/*END:inner-pricelist*/
