/*inner-contacts*/

.body-contacts {
    .site-header {
        &__contacts {
            display: block;
        }
    }
}

.main-contacts {
    padding-bottom: 25px;
    &__pagetitle {
        @extend %default-pagetitle;
    }
    &__pagedescription {
        @extend %default-pagedescription;
    }
}

.main-contact-form {
    input.ng-invalid {
        color: #da6e6e;
        outline: 1px solid #da6e6e;
    }
    input.ng-not-empty.ng-valid {
        color: #956cfb;
    }
    &__mainform {
        font-family: 'Calibri-Regular';
    }
    &__maintitle {
        font-family: 'Comfortaa-Regular';
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.0025em;
        padding-bottom: 16px;
        color: #6840cc;
        background-image: url(../img/contacts/contact-title-bg.png);
        background-position: left bottom;
        background-repeat: no-repeat;
        font-size: 18px;
    }
    &__choicelist {
        text-align: center;
        margin: 0 -8px 35px;
        @extend %clearfix;
        li {
            float: left;
            padding: 0 8px;
            list-style: none;
            width: 25%;
        }
    }
    &__choiselabel {
        display: block;
        padding: 10px 22px;
        background-repeat: no-repeat;
        background-size: cover;
        @extend %default-transition;
        &.active {
            background-image: url(../img/contacts/contacts-choice-bg.png);
        }
        &:hover {
            background-image: url(../img/contacts/contacts-choice-bg.png);
        }
    }
    &__choisetitle {
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.0025em;
        text-transform: uppercase;
        margin-bottom: 8px;
        color: #666;
    }
    &__from {
        font-family: 'Calibri-Bold';
        font-size: 10px;
        letter-spacing: 0.0025em;
        text-transform: uppercase;
        opacity: 0.4;
        color: #956cfb;
    }
    &__price {
        font-family: 'Calibri-Regular';
        font-size: 16px;
        color: #956cfb;
    }
    &__choisecheckbox {
        display: none;
    }
    &__main-elementtitle {
        font-size: 15px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.025em;
        text-transform: uppercase;
        padding-left: 10px;
        color: #595959;
    }
    &__main-elementblock {
        margin-bottom: 35px;
    }
    &__main-formelement {
        display: block;
        width: 100%;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.001em;
        color: #999;
        border: none;
        padding-left: 10px;
        padding-bottom: 7px;
        background: none;
        border-bottom: 1px solid #BDBDBD;
    }
    &__favsites {
        margin-bottom: 35px;
    }
    &__favsites-list {
        @extend %clearfix;
        margin: 0 -2%;
        li {
            float: left;
            width: 33.299999999999997%;
            padding: 0 2%;
            padding-bottom: 12px;
            list-style: none;
        }
    }
    &__favsitetitle {
        font-size: 15px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.0025em;
        text-transform: uppercase;
        color: #595959;
        padding-left: 10px;
    }
    &__favsites-formelement {
        border: none;
        background: none;
        border-bottom: 1px solid #BAB6BE;
        padding-bottom: 7px;
        color: #999999;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.0001em;
        padding-left: 10px;
        width: 100%;
    }
    &__add-data {
        padding: 15px 20px;
        margin: 0 -1% 25px;
        background-image: url(../img/contacts/contact_addinfo-bg.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    &__add-datatitle {
        font-size: 15px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.0025em;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 10px;
        color: #595959;
    }
    &__addelement {
        display: inline-block;
        width: 31%;
        padding: 11px 3%;
        margin: 11px 1%;
        font-size: 15px;
        line-height: 20px;
        letter-spacing: 0.0001em;
        color: #999;
        text-align: center;
        background: none;
        border: none;
        background-color: rgba(#FAFAFA, 0.7);
        ::-webkit-input-placeholder {
            text-align: center;
        }
        :-moz-placeholder {
            text-align: center;
        }
        ::-moz-placeholder {
            text-align: center;
        }
        :-ms-input-placeholder {
            text-align: center;
        }
    }
    &__submitblock {
        text-align: center;
    }
    &__submitbtn {
        text-transform: uppercase;
        @extend %default-btn;
    }
}


/*END:inner-contacts*/
