/*inner-single-portfolio*/

.main-single-portfolio {
    &__maincontent {
        @extend %clearfix;
    }
    &__heading {
        margin-bottom: 35px;
        @extend %clearfix;
    }
    &__titleblock {
        float: left;
        width: 57%;
    }
    &__maintitle {
        font-family: 'Comfortaa-Bold';
        font-size: 18px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.0025em;
        color: #595959;
        margin-bottom: 8px;
    }
    &__mainlink {
        display: block;
        font-size: 13px;
        line-height: 20px;
        letter-spacing: 0.005em;
        text-decoration: underline;
        color: #8256b3;
    }
    &__iconblock {
        float: left;
        width: 40%;
    }
    &__iconimg {
        display: inline-block;
        vertical-align: middle;
    }
    &__description {
        strong {
            color: #595959;
        }
        font-family: 'Calibri-Regular';
        line-height: 20px;
        letter-spacing: 0.0035em;
        margin-bottom: 35px;
        color: #737373;
    }
    &__numbers {
        font-family: 'Calibri-Regular';
        font-size: 19px;
        margin-bottom: 55px;
    }
    &__numbertitle {
        display: inline-block;
        font-size: 19px;
        line-height: 20px;
        letter-spacing: 0.0025em;
        font-weight: 400;
        color: #595959;
        margin-bottom: 10px;
    }
    &__hour {
        color: #737373;
    }
    &__money {
        color: #8256b3;
    }
    &__offerbtn {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.0025em;
        @extend %default-btn;
    }
}

.body-single-portfolio{
    .site-aside__btnwrap{
        display: block;
    }
}

/*END:inner-single-portfolio*/
