/*inner-portfolio*/

.main-portfolio {
    &__heading {
        margin-bottom: 55px;
    }
    &__pagetitle {
        @extend %default-pagetitle;
    }
    &__pagedescription {
        @extend %default-pagedescription;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -25px;
        li {
            position: relative;
            list-style: none;
            width: 220px;
            overflow: hidden;
            background-color: #fff;
            border-radius: 3px;
            margin: 0 25px 45px;
            @extend %default-transition;
            padding: 18px 20px;
            &.faded {
                opacity: 0.2;
            }
            &:after {
                display: none;
                position: absolute;
                top: 0;
                left: 0;
                content: '';
                width: 100%;
                height: 100%;
                opacity: 0.7;
                z-index: 1;
                pointer-events: none;
                background-image: url(../img/portfolio/portfolio-overlay.png);
                background-repeat: no-repeat;
                background-size: cover;
                @extend %default-transition;
            }
            &:hover:after {
                display: block;
            }
            &:hover {
                transform: scale(1.1) translateY(-25px);
                .main-portfolio__list-description {
                    a {}
                    .main-portfolio__list-title {
                        color: #ffffff;
                    }
                }
                .main-portfolio__list-sitelink {
                    color: #fff;
                }
            }
        }
    }
    &__linkwrap {
        display: block;
        text-decoration: none;
    }
    &__link {
        display: block;
        text-decoration: none;
    }
    &__list-imgblock {
        display: table;
        width: 100%;
        text-align: center;
        margin-bottom: 12px;
        height: 155px;
    }
    &__imgwrap {
        display: table-cell;
        vertical-align: middle;
        position: relative;
        z-index: 1;
    }
    &__list-imglink {
        position: relative;
        display: block;
    }
    &__list-img {
        display: inline-block;
        height: auto;
        max-width: 100%;
        vertical-align: middle;
    }
    &__list-title {
        font-size: 15px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.0025em;
        margin-bottom: 0;
        color: #6840cc;
    }
    &__list-imglink {
        display: block;
    }
    &__list-sitelink {
        line-height: 20px;
        letter-spacing: 0.0025em;
        text-decoration: none;
        color: #a6a6a6;
        font-size: 12px;
        word-break: break-word;
        &:hover {
            text-decoration: underline;
        }
    }
    &__list-descriptionblock {
        @extend %clearfix;
    }
    &__list-description {
        position: relative;
        z-index: 3;
        display: inline-block;
        vertical-align: middle;
        width: 82%;
    }
    &__moreblock {
        display: none;
        vertical-align: middle;
        width: 15%;
        text-align: right;
        position: relative;
        z-index: 3;
    }
    &__morebtn {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        width: 26px;
        height: 26px;
        z-index: 1;
        background-image: url(../img/vector/portfolio-more-btn.svg);
        background-repeat: no-repeat;
        background-size: 100% 99%;
    }
}

.main-portfolio__list li:hover .main-portfolio__list-description a {
    color: #ffffff;
}

.main-portfolio__list li:hover .main-portfolio__moreblock {
    display: inline-block;
}


/*END:inner-portfolio*/
