/*RESPONSIVE*/

@media screen and (max-width: 1360px) {
    %default-btn--mobile760 {
        font-size: 18px;
    }
    /*base*/
    .main {
        padding-top: 0;
    }
    .site-header {
        position: static;
        padding-top: 35px;
    }
    .myContainer {
        max-width: 86%;
    }
    .main-contact-form__submitbtn,
    .main-single-portfolio__offerbtn {
        @extend %default-btn--mobile760;
    }
    .main-contacts__heading {
        display: none;
    }
    .site-header__contacts-title {
        font-size: 26px;
    }
    /*END:base*/
    /*inner-single-portfolio*/
    .main-single-portfolio__description strong {
        font-weight: 400;
    }
    /*END:inner-single-portfolio*/
    /*inner-contacts*/
    .body-contacts .site-header__contacts {
        margin-bottom: 65px;
    }
    .main-contact-form__mainform {
        width: 80%;
    }
    .main-contact-form__choicelist {
        margin: 0 0 25px;
    }
    .main-contact-form__choicelist li {
        width: 36%;
        padding: 0;
    }
    .site-header__contacts-list li {
        margin-bottom: 10px;
    }
    .site-header__contacts-elementtitle {
        font-size: 24px;
    }
    .main-contact-form__main-elementtitle {
        font-size: 17px;
    }
    .main-contact-form__main-formelement {
        font-size: 17px;
    }
    .main-contact-form__favsites-list li {
        width: 50%;
    }
    /*END:inner-contacts*/
}

@media screen and (max-width: 1250px) {
    .main-single-portfolio__titleblock {
        float: none;
        width: 100%;
        margin-bottom: 25px;
    }
    .main-single-portfolio__iconblock {
        float: none;
        width: 100%;
    }
}

@media screen and (max-width: 920px) {
    /*base*/
    .site-navlist li a {
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.005em;
    }
    .body-single-portfolio .site-aside__btnwrap {
        display: none;
    }
    /*END:base*/
    /*home*/
    .home-section__portfolio-btn {
        font-size: 22px;
    }
    /*END:home*/
    .main-home .home-section {
        text-align: center;
    }
    .home-section__pretitle {
        font-size: 26px;
    }
    .home-section__maintitle {
        font-size: 32px;
    }
    .home-section__description {
        font-size: 18px;
        margin-bottom: 100px;
    }
    .site-aside {
        top: 48px;
        transform: none;
    }
    .site-aside__mobile-nav {
        display: block;
    }
    .site-navlist {
        text-align: right;
        padding: 40px;
        background-color: rgba(#fff, 1);
        border: 2px solid #8250ff;
        border-radius: 10px;
        box-shadow: inset -2px 2px 9px 0px #b496ff;
        transform: translateX(200%);
        &--active {
            transform: translateX(0%);
        }
    }
    .site-navlist li {
        margin-bottom: 28px;
    }
    .site-navlist li a {
        display: inline-block;
    }
    .site-aside .site-aside__nav .site-navlist .site-navlist__linktext {
        text-indent: inherit;
        visibility: visible;
        color: #737373;
    }
    .site-aside .site-navlist li.faded .site-navlist__linktext {
        display: inline-block;
    }
    .site-aside .site-navlist li:hover.home a,
    .site-aside .site-navlist li.current-page.home a,
    .site-aside .site-navlist li.home a,
    {
        background-image: url(../img/vector/navlist/home.svg);
    }
    .site-aside .site-navlist li:hover.portfolio a,
    .site-aside .site-navlist li.current-page.portfolio a,
    .site-aside .site-navlist li.portfolio a,
    {
        background-image: url(../img/vector/navlist/portfolio.svg);
    }
    .site-aside .site-navlist li:hover.pricelist a,
    .site-aside .site-navlist li.current-page.pricelist a,
    .site-aside .site-navlist li.pricelist a,
    {
        background-image: url(../img/vector/navlist/pricelist.svg);
    }
    .site-aside .site-navlist li:hover.contacts a,
    .site-aside .site-navlist li.current-page.contacts a,
    .site-aside .site-navlist li.contacts a,
    {
        background-image: url(../img/vector/navlist/contacts.svg);
    }
    .main-pricelist__pagetitle,
    .main-portfolio__pagetitle,
    .main-contacts__pagetitle {
        font-size: 28px;
        letter-spacing: 0.0025em;
    }
    .main-pricelist__pagedescription,
    .main-portfolio__pagedescription,
    .main-contacts__pagedescription {
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.0035em;
    }
    .main-portfolio__list {
        margin: 0 -10px;
    }
    .main-portfolio__list li {
        margin: 0 10px 45px;
        padding: 22px;
        width: 33%;
    }
    /*single-portfolio*/
    .two-columns-layout .site-header {
        left: 50px;
        right: auto;
        width: auto;
    }
    .two-columns-layout .main {
        position: static;
        padding-left: 0;
        padding-right: 0;
        width: auto;
    }
    .main-single-portfolio__maincontent {
        margin-bottom: 42px;
    }
    .main-single-portfolio__description {
        padding-right: 28%;
    }
    .main-single-portfolio__maintitle {
        font-size: 24px;
    }
    .main-single-portfolio__mainlink {
        font-size: 16px;
    }
    .main-single-portfolio__offerblock {
        text-align: center;
    }
    .two-columns-layout .layout-leftcol {
        float: none;
        width: auto;
    }
    .single-portfolio-leftcol__img {
        display: block;
        width: 100%;
    }
    .main-single-portfolio__description {
        font-size: 17px;
        margin-bottom: 48px;
    }
    .main-single-portfolio__hours {
        font-size: 22px;
    }
    /*END:single-portfolio*/
    /*pricelist*/
    .main-pricelist__heading {
        margin-bottom: 65px;
    }
    .pricelist-items__blocktitle {
        display: block;
    }
    .pricelist-items__list {
        text-align: center;
        margin-bottom: 60px;
    }
    .pricelist-items__list li {
        float: none;
        margin: 0 auto 25px;
        width: 250px;
    }
    .pricelist-items__list:before,
    .pricelist-items__list:after {
        display: none;
    }
    .pricelist-items__list li:before,
    .pricelist-items__list li:after {
        display: none;
    }
    .pricelist-items__iteminner {
        position: relative;
    }
    .pricelist-items__list li:first-child .pricelist-items__iteminner:before,
    .pricelist-items__list li:last-child .pricelist-items__iteminner:after {
        position: absolute;
        content: '';
        left: 0;
        display: none;
        width: 242px;
        height: 42px;
        z-index: 1;
        background-repeat: no-repeat;
    }
    .pricelist-items__list li:first-child .pricelist-items__iteminner:before {
        top: 0;
        background-image: url(../img/pricelist/pricelist_mobilecrosstop.png);
    }
    .pricelist-items__list li:last-child .pricelist-items__iteminner:after {
        bottom: 0;
        background-image: url(../img/pricelist/pricelist_mobilecrossbottombottom.png);
    }
    .pricelist-items__list li:before {
        position: absolute;
        content: '';
        left: 0;
        display: none;
        width: 242px;
        height: 42px;
        z-index: 1;
        background-repeat: no-repeat;
        background-image: url(../img/pricelist/pricelist_mobilecrossbottom.png);
    }
    .pricelist-prompt__item {
        display: block;
        margin: 0 auto;
        width: 50%;
    }
    .pricelist-items__list li:nth-child(1) .pricelist-items__link--backface:before {
        top: -57px;
        left: 0;
    }
    .pricelist-items__list li:nth-child(2) .pricelist-items__link--backface:before {
        top: -25px;
        left: 0;
    }
    .pricelist-items__list li:nth-child(3) .pricelist-items__link--backface:before {
        top: -43px;
        left: -30px;
    }
    .pricelist-items__list li:nth-child(4) .pricelist-items__link--backface:before {
        top: -25px;
        left: 0;
    }
    /*END:pricelist*/
    /*contacts*/
    .main-contact-form__maintitle {
        font-size: 26px;
    }
    .site-header__contacts-imgblock {
        margin-right: 18px;
    }
    .main-contact-form__main-elementtitle {
        margin-bottom: 5px;
    }
    .main-contact-form__main-formelement {
        padding-bottom: 5px;
    }
    .main-contact-form__favsites-formelement {
        font-size: 17px;
    }
    /*END:contacts*/
}

@media screen and (max-width: 660px) {
    /*base*/
    .site-aside__mobile-navtext {
        font-size: 17px;
    }
    .site-aside {
        right: 22px;
        position: absolute;
        overflow: hidden;
    }
    .site-navlist li {
        margin-bottom: 14px;
    }
    .site-navlist li a {
        min-width: 25px;
        min-height: 25px;
    }
    .site-navlist{
        padding: 35px 15px;
    }
    
    /*END:base*/
    /*home*/
    .home-section__pretitle {
        font-size: 22px;
    }
    .home-section__maintitle {
        font-size: 26px;
        margin-bottom: 17px;
    }
    .home-section__description {
        font-size: 16px;
    }
    .home-section__portfolio-btn {
        font-size: 18px;
    }
    .home-section__description {
        margin-bottom: 60px;
    }
    /*END:home*/
    /*inner-portfolio*/
    .main-portfolio__list {
        margin: 0;
    }
    .main-portfolio__list li {
        float: none;
        width: 100%;
        margin: 0;
        margin-bottom: 25px;
    }
    .main-portfolio__list-imgblock {
        height: auto;
    }
    .main-portfolio__list-title {
        font-size: 30px;
        line-height: 40px;
        letter-spacing: 0.0025em;
    }
    .main-portfolio__list-sitelink {
        font-size: 24px;
        line-height: 40px;
        letter-spacing: 0.0025em;
    }
    /*END:inner-portfolio*/
    /*contacts*/
    .main-contact-form__favsites-list li {
        width: 50%;
        margin-bottom: 25px;
    }
    .main-contact-form__add-data {
        margin: 0;
        margin-bottom: 55px;
    }
    .main-contact-form__addelement {
        display: block;
        width: 100%;
        margin: 0 0 15px;
    }
    /*END:contacts*/
}

@media screen and (max-width: 500px) {
    /*inner-single-portfolio*/
    .main-single-portfolio__titleblock {
        width: auto;
    }
    .main-single-portfolio__iconblock {
        float: right;
    }
    .main-single-portfolio__description {
        padding-right: 0;
        margin-bottom: 30px;
    }
    .main-single-portfolio__numbertitle {
        margin-bottom: 2px;
    }
    .main-single-portfolio__hours {
        font-size: 26px;
    }
    .main-single-portfolio__offerblock {
        margin-bottom: 64px;
    }
    /*END:inner-single-portfolio*/
    /*inner-contacts*/
    .main-contact-form__mainform {
        width: 100%;
    }
    .main-contact-form__choicelist li {
        width: 46%;
    }
    /*END:inner-contacts*/
}

@media screen and (max-width: 470px) {
    /*inner-contacts*/
    .site-header__contacts-elementtitle {
        font-size: 20px;
    }
    .main-contact-form__choicelist li {
        float: none;
        width: 100%;
    }
    .main-contact-form__maintitle {
        font-size: 20px;
        text-align: center;
    }
    .main-contact-form__main-elementtitle {
        font-size: 14px;
    }
    .main-contact-form__main-formelement {
        font-size: 14px;
    }
    .main-contact-form__favsites-list li {
        float: none;
        width: 100%;
    }
    .main-contact-form__favsites-formelement {
        width: 100%;
    }
    .main-contact-form__favsitetitle {
        font-size: 14px;
    }
    /*END:inner-contacts*/
}

@media screen and (max-width: 420px) {
    .main-pricelist__pagetitle,
    .main-portfolio__pagetitle,
    .main-contacts__pagetitle {
        font-size: 21px;
    }
    .main-pricelist__pagedescription,
    .main-portfolio__pagedescription,
    .main-contacts__pagedescription {
        font-size: 15px;
    }
    .main-portfolio__list-title {
        font-size: 18px;
    }
    .main-portfolio__list-sitelink {
        font-size: 18px;
    }
    .pricelist-items__blocktitle {
        font-size: 20px;
    }
    .pricelist-prompt__item {
        width: 90%;
    }
}

@media screen and (max-width: 390px) {
    /*home*/
    .home-section__pretitle {
        font-size: 16px;
    }
    .home-section__maintitle {
        font-size: 22px;
    }
    .home-section__description {
        font-size: 14px;
    }
    .home-section__portfolio-btn {
        font-size: 14px;
    }
    /*END:home*/
    /*inner-single-portfolio*/
    .main-single-portfolio__titleblock {
        float: none;
        margin-bottom: 20px;
    }
    .main-single-portfolio__iconblock {
        float: none;
        margin-bottom: 20px;
    }
    .main-single-portfolio__maintitle {
        font-size: 20px;
    }
    /*END:inner-single-portfolio*/
}


/*END:RESPONSIVE*/
