$grid: ( 'container': 842px, 'offsetTop': 45px);
@function grid($width) {
    @return map-get($grid, $width);
}

$colors: ( 'primary': #6840cc, 'primaryHue': #7850a6);
@function color($color) {
    @return map-get($colors, $color);
}

$navIcons: home,
portfolio,
pricelist,
contacts;
%default-transition {
    transition: all 0.3s ease-in;
}

%clearfix {
    &:after {
        display: block;
        content: '';
        clear: both;
    }
}
